<%- include('../partials/header.ejs', {
    title: `${coffeeShop.name} Show Page`
}); %>
    <nav>
      <ul>
        <li><a href="/users/<%=userId%>">Home</a></li>
        <li><a href="/coffee-shops">Coffee Shop Directory</a></li>
      </ul>
    </nav>
    <h1><%= coffeeShop.name %> Show Page </h1>

    <%= coffeeShop.name %><br>
    <%= coffeeShop.city %><br>

    <a href="/coffee-shops/<%= coffeeShop._id %>/edit">Edit</a>
    <form action="/coffee-shops/<%= coffeeShop._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Coffee</button>
    </form>

<%- include('../partials/footer.ejs'); %>

