<%- include('../partials/header.ejs', {
    title: `${coffeeShop.name} Show Page`
}); %>
  <header class="siteHeader">
    <div class="siteHeaderBckgr"></div>
    <div class="siteHeaderFrgr">
        <nav class="siteNav">
            <ul>
              <li><a href="/users/<%=currentUser%>">Home</a>&nbsp&nbsp|</li>
              <li><a href="/coffee-shops">Coffee Shops</a>&nbsp&nbsp|</li>
              <li><a href="/users/logout">Logout</a></li>
            </ul>
        </nav>
        <h1><%=coffeeShop.name%></h1>
    </div>
    </header>
    <main id="coffeeShowMain" class="siteMain">
    Name: <%= coffeeShop.name %><br>
    City: <%= coffeeShop.city %><br><br>
    Upvotes!: <%=coffeeShop.upVote.length%><br>
      <div class="show-img">
        <img class="upload-img" 
        <%if (coffeeShop.image.data) {%>
          src= "/coffee-shops/<%=coffeeShop._id%>/image"
        <%} else {%>
          src= "/images/defaultCoffeeShop.jpg"
        <%}%>
        alt="<%=coffeeShop.name%> picture">
      </div><br>
    Created by: <a href="/users/<%=user._id%>"><%= user.username %></a><br>
    <%if(currentUser) {%>
      <form action="/coffee-shops/<%=coffeeShop._id%>/upvote?_method=PUT" method="POST">
        <button id="upvote">UpVote!</button>
      </form>
      <form action="/coffee-shops/<%=coffeeShop._id%>/favorite?_method=PUT" method="POST">
        <button id="favorite">Make Favorite</button>
      </form>
    <%}%>
    <% if(currentUser === user._id.toString()){ %>
      <a href="/coffee-shops/<%= coffeeShop._id %>/edit">Edit</a>
      <form action="/coffee-shops/<%= coffeeShop._id %>?_method=DELETE" method="POST">
          <button id="delete-shop" type="submit">Delete Coffee Shop</button>
      </form>
      <% } %>
  </main>

  <footer class="siteFooter">
    <div class="mediaLinks">
      <ul>
        <li><a href="https://github.com/msiller455"><img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg"></a></li>
        <li><a href="https://www.linkedin.com/in/michaelasiller/"><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_black-512.png"></a></li>
        <li><a href="https://www.instagram.com/chum455/"><img src="http://cdn.onlinewebfonts.com/svg/img_465937.png"></a></li>
      </ul>
    </div>
  </footer>

<%- include('../partials/footer.ejs'); %>

